<!DOCTYPE html>
<html>
<head>
    <title>Carousel Example</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        .carousel-container {
            height: 95vh;
            background-color: #f2f2f2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .carousel-slide {
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
    <div class="carousel-container">
        <div class="carousel">
            <div class="carousel-slide"><img src="imgs/resim1.jpg" alt="Slide 1"></div>
            <div class="carousel-slide"><img src="imgs/resim2.jpg" alt="Slide 2"></div>
            <div class="carousel-slide"><img src="imgs/resim1.jpg" alt="Slide 3"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.carousel').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: false,
                dots: true
            });
        });
    </script>
</body>
</html>
