.turnuva-yonetimi,
.turnuva-yonetimi * {
    box-sizing: border-box;
}

.turnuva-yonetimi {
    background: var(--gray-900, #101828);
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1440px;
    height: 1073px;
    position: relative;
}

.sidebar-navigation {
    background: var(--gray-900, #101828);
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 280px;
    height: 960px;
    position: relative;
    overflow: hidden;
}

.divider {
    align-self: stretch;
    flex-shrink: 0;
    width: 1px;
    height: auto;
    position: relative;
    overflow: visible;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.nav {
    padding: 32px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.header {
    padding: 0px 20px 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 32px;
    position: relative;
}

.logo-wrap {
    flex-shrink: 0;
    width: 142px;
    height: 32px;
    position: relative;
}

.logomark {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    right: 77.46%;
    left: 0%;
    width: 22.54%;
    bottom: 0%;
    top: 0%;
    height: 100%;
    box-shadow: var( --shadow-sm-box-shadow, 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1) );
}

.content2 {
    background: linear-gradient( 180deg, rgba(255, 255, 255, 1) 0%, rgba(208, 213, 221, 1) 100% ), linear-gradient(to left, #ffffff, #ffffff);
    border-radius: 8px;
    border-style: solid;
    border-color: #d0d5dd;
    border-width: 0.3px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
}

.grid {
    height: auto;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
    overflow: visible;
}

.dot {
    background: linear-gradient( 26.57deg, rgba(83, 56, 158, 1) 0%, rgba(105, 65, 198, 1) 100% );
    border-radius: 50%;
    position: absolute;
    right: 25%;
    left: 25%;
    width: 50%;
    bottom: 25%;
    top: 25%;
    height: 50%;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 50%;
    height: 50%;
    overflow: hidden;
    backdrop-filter: blur(2.5px);
}

.text {
    color: var(--gray-100, #f2f4f7);
    text-align: left;
    font: var(--displaysm-bold, 700 30px/38px "Inter-Bold", sans-serif);
    position: relative;
}

.search {
    padding: 0px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.input-dropdown {
    align-self: stretch;
    flex-shrink: 0;
    height: 44px;
    position: relative;
}

.input-dropdown-base {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
}

.input-with-label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.input {
    background: var(--gray-700, #344054);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--gray-700, #344054);
    border-width: 1px;
    padding: 10px 14px 10px 14px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var( --shadow-xs-box-shadow, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) );
}

.content3 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.search2 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.text2 {
    color: var(--white, #ffffff);
    text-align: left;
    font: var(--textmd-regular, 400 16px/24px "Inter-Regular", sans-serif);
    position: relative;
}

.nav2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.navigation {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 260px;
    position: relative;
}

.nav-item-base {
    background: var(--gray-900, #101828);
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 105px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.content4 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.home {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.text3 {
    color: var(--gray-100, #f2f4f7);
    text-align: left;
    font: var(--textmd-medium, 500 16px/24px "Inter-Medium", sans-serif);
    position: relative;
}

.nav-item-base2 {
    background: var(--gray-700, #344054);
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 105px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.solar-cup-star-outline {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
}

.group {
    height: auto;
    position: absolute;
    right: 5.21%;
    left: 5.21%;
    width: 89.58%;
    bottom: 5.21%;
    top: 5.21%;
    height: 89.58%;
    overflow: visible;
}

.users {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.user-plus {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.user {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.footer {
    padding: 0px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.navigation2 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.nav-item-base3 {
    background: var(--gray-900, #101828);
    border-radius: 6px;
    padding: 8px 12px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 105px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.settings {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.divider2 {
    align-self: stretch;
    flex-shrink: 0;
    height: 1px;
    position: relative;
    overflow: visible;
}

.account {
    padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.avatar-label-group {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.avatar {
    background: var(--avatarusersquare-lyle-kauffman, undefined);
    border-radius: 200px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.avatar-online-indicator {
    background: var(--success-500, #12b76a);
    border-radius: 5px;
    border-style: solid;
    border-color: var(--white, #ffffff);
    border-width: 1.5px;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.text-and-supporting-text {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.text4 {
    color: var(--white, #ffffff);
    text-align: left;
    font: var(--textsm-semibold, 600 14px/20px "Inter-SemiBold", sans-serif);
    position: relative;
}

.supporting-text {
    color: var(--gray-100, #f2f4f7);
    text-align: left;
    font: var(--textsm-regular, 400 14px/20px "Inter-Regular", sans-serif);
    position: relative;
}

.icon7 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
}

.button {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
}

.button-base {
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.log-out {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.main-wrap {
    padding: 12px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.main {
    background: var(--gray-25, #fcfcfd);
    border-radius: 40px 0px 0px 0px;
    padding: 32px 0px 48px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.header-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.container {
    padding: 0px 32px 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.page-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.text5 {
    color: var(--gray-900, #101828);
    text-align: left;
    font: var(--displaysm-medium, 500 30px/38px "Inter-Medium", sans-serif);
    position: relative;
    flex: 1;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.button2 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.button-base2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.text6 {
    color: var(--brand-700, #6941c6);
    text-align: left;
    font: var(--textsm-semibold, 600 14px/20px "Inter-SemiBold", sans-serif);
    position: relative;
}

.button3 {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.button-base3 {
    background: var(--brand-600, #7f56d9);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--brand-600, #7f56d9);
    border-width: 1px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    box-shadow: var( --shadow-xs-box-shadow, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) );
    overflow: hidden;
}

.log-out2 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.modal {
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 1160px;
    position: relative;
    overflow: hidden;
}

.frame-864 {
    background: var(--white, #ffffff);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--gray-200, #eaecf0);
    border-width: 1px;
    padding: 24px 32px 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    box-shadow: var( --shadow-xs-box-shadow, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) );
}

.frame-863 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-862 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-866 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame-13 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-14 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.table-cell {
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 72px;
    position: relative;
}

.featured-icon {
    background: var(--brand-100, #f4ebff);
    border-radius: 20px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.cupa {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: hidden;
}

.group2 {
    height: auto;
    position: absolute;
    right: 3.13%;
    left: 1.04%;
    width: 95.83%;
    bottom: 3.13%;
    top: 1.04%;
    height: 95.83%;
    overflow: visible;
}

.text7 {
    color: var(--gray-900, #101828);
    text-align: left;
    font: var(--textsm-medium, 500 14px/20px "Inter-Medium", sans-serif);
    position: relative;
}

.supporting-text2 {
    color: var(--gray-500, #667085);
    text-align: left;
    font: var(--textsm-regular, 400 14px/20px "Inter-Regular", sans-serif);
    position: relative;
}

.maki-racetrack {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: visible;
}

.map-pin {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: visible;
}

.frame-865 {
    padding: 0px 32px 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1160px;
    height: 689px;
    position: relative;
}

.horizontal-tabs {
    flex-shrink: 0;
    width: 1096px;
    height: 50px;
    position: relative;
}

.tabs {
    background: var(--white, #ffffff);
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 0px;
}

.tab-button-base {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.content5 {
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.text8 {
    color: var(--gray-500, #667085);
    text-align: left;
    font: var(--textmd-medium, 500 16px/24px "Inter-Medium", sans-serif);
    position: relative;
}

.badge {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.badge-base {
    background: var(--gray-100, #f2f4f7);
    border-radius: 16px;
    padding: 2px 10px 2px 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.text9 {
    color: var(--gray-700, #344054);
    text-align: center;
    font: var(--textsm-medium, 500 14px/20px "Inter-Medium", sans-serif);
    position: relative;
}

.bottom-border {
    align-self: stretch;
    flex-shrink: 0;
    height: 2px;
    position: relative;
}

.tab-button-base2 {
    background: var(--brand-50, #f9f5ff);
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.text10 {
    color: var(--brand-700, #6941c6);
    text-align: left;
    font: var(--textmd-medium, 500 16px/24px "Inter-Medium", sans-serif);
    position: relative;
}

.badge-base2 {
    background: var(--brand-50, #f9f5ff);
    border-radius: 16px;
    padding: 2px 10px 2px 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.text11 {
    color: var(--brand-700, #6941c6);
    text-align: center;
    font: var(--textsm-medium, 500 14px/20px "Inter-Medium", sans-serif);
    position: relative;
}

.bottom-border2 {
    background: var(--brand-700, #6941c6);
    align-self: stretch;
    flex-shrink: 0;
    height: 2px;
    position: relative;
}

.table {
    background: var(--white, #ffffff);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--gray-200, #eaecf0);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1096px;
    position: relative;
    box-shadow: var( --shadow-sm-box-shadow, 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1) );
    overflow: hidden;
}

.card-header {
    background: var(--white, #ffffff);
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.content6 {
    padding: 20px 24px 19px 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.text12 {
    color: var(--gray-900, #101828);
    text-align: left;
    font: var(--textlg-medium, 500 18px/28px "Inter-Medium", sans-serif);
    position: relative;
    flex: 1;
}

.bell {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.content7 {
    background: var(--white, #ffffff);
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.table-header-cell {
    background: var(--gray-50, #f9fafb);
    border-style: solid;
    border-color: var(--gray-200, #eaecf0);
    border-width: 0px 0px 1px 0px;
    padding: 12px 24px 12px 24px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 44px;
    position: relative;
}

.table-header {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.text13 {
    color: var(--gray-500, #667085);
    text-align: left;
    font: var(--textxs-medium, 500 12px/18px "Inter-Medium", sans-serif);
    position: relative;
}

.table-cell2 {
    border-style: solid;
    border-color: var(--gray-200, #eaecf0);
    border-width: 0px 0px 1px 0px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 72px;
    position: relative;
}

.text14 {
    color: var(--gray-500, #667085);
    text-align: left;
    font: var(--textsm-regular, 400 14px/20px "Inter-Regular", sans-serif);
    position: relative;
}

.table-cell3 {
    border-style: solid;
    border-color: var(--gray-200, #eaecf0);
    border-width: 0px 0px 1px 0px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 72px;
    position: relative;
}

.avatar2 {
    background: var(--avatarusersquare-phoenix-baker, undefined);
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.avatar3 {
    background: var(--avatarusersquare-drew-cano, undefined);
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.avatar4 {
    background: var(--avatarusersquare-orlando-diggs, undefined);
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.avatar5 {
    background: var( --avatarusersquare-olivia-rhye-colorbackground, linear-gradient(to left, #c7b9da, #c7b9da) );
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.avatar6 {
    background: var(--avatarusersquare-koray-okumus, undefined);
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.avatar7 {
    background: var(--avatarusersquare-zahir-mays, undefined);
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.avatar8 {
    background: var(--avatarusersquare-lyle-kauffman, undefined);
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
}

.text15 {
    color: var(--gray-700, #344054);
    text-align: left;
    font: var(--textxs-medium, 500 12px/18px "Inter-Medium", sans-serif);
    position: relative;
}

.table-cell4 {
    border-style: solid;
    border-color: var(--gray-200, #eaecf0);
    border-width: 0px 0px 1px 0px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    height: 72px;
    position: relative;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 46px;
    position: relative;
}

.input-field-base {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.input2 {
    background: var(--white, #ffffff);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--gray-300, #d0d5dd);
    border-width: 1px;
    padding: 10px 14px 10px 14px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var( --shadow-xs-box-shadow, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) );
    overflow: hidden;
}

.text16 {
    color: var(--gray-700, #344054);
    text-align: left;
    font: var(--textmd-regular, 400 16px/24px "Inter-Regular", sans-serif);
    position: relative;
    width: 292px;
}

.minus {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.minus2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.minus3 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.minus4 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.minus5 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.minus6 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.minus7 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.table-cell5 {
    border-style: solid;
    border-color: var(--gray-200, #eaecf0);
    border-width: 0px 0px 1px 0px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 72px;
    position: relative;
}

.button-base4 {
    border-radius: 8px;
    padding: 10px 18px 10px 18px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.x-square {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.text17 {
    color: var(--error-700, #b42318);
    text-align: left;
    font: var(--textmd-semibold, 600 16px/24px "Inter-SemiBold", sans-serif);
    position: relative;
}

.table-cell6 {
    border-style: solid;
    border-color: var(--gray-200, #eaecf0);
    border-width: 0px 0px 1px 0px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 72px;
    position: relative;
}

.x-square2 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.x-square3 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.x-square4 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.x-square5 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.x-square6 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.x-square7 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.column2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.featured-icon2 {
    background: var(--white, #ffffff);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--gray-200, #eaecf0);
    border-width: 1px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    box-shadow: var( --shadow-xs-box-shadow, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) );
}

.youtube {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: visible;
}

.youtube2 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: visible;
}

.youtube3 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: visible;
}

.youtube4 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: visible;
}

.youtube5 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: visible;
}

.youtube6 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: visible;
}

.youtube7 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: visible;
}

.button-base5 {
    background: var(--brand-600, #7f56d9);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--brand-600, #7f56d9);
    border-width: 1px;
    padding: 8px 14px 8px 14px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    box-shadow: var( --shadow-xs-box-shadow, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) );
    overflow: hidden;
}

.save {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}
